li{
	list-style: none;
}
a{
	text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
body{
	font-family: Roboto;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}
textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-textarea-placeholder      {color: transparent}

.flex{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.global-wrapper{
	overflow: hidden;
}
.mbox{
	max-width: 100%;
	padding: 0 15px;
}