<!-- HEADER -->
<header>

	<!-- Navigation -->
	<div class="navigation mbox flex">

	  <div class="navigation-left">
	    <a href="#">Shoes</a>
	    <a href="#">Shoes</a>
	    <a href="#">Accessories</a>
	  </div>

	  <div class="navigation-center">
	    <img src="/images/logo.png" alt="">
	  </div>

	  <div class="navigation-right flex">
	    <a href="#"><img src="/images/shopping-bag.png" alt=""></a>
	    <button class="login-btn" href="#">Login</button>
	  </div>
	</div>

</header>
<!-- /HEADER -->

